body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-landingpage{
  width:100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/bg-landingpage.png');
}

.name{
  font-family: 'Montserrat';
  width: 500px;
  position: absolute;
  left: 22%;
  top: 50%;
  transform: translate(-22%,-50%);
  }
  .name span{
    color: #00b7ff;
  }
  .name .details{
    color: #554949;
  }
  .name h1{
  font-family:'Montserrat';
  font-size: 40px;
  margin:0px;
  letter-spacing: 2px;
  color:#000000;
  }

  .cv-btn{
    width:110px;
    height: 40px;
    display: flex;
    justify-content: center;
      align-items: center;
      background-color: #00b7ff;
      box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
      border-radius: 10px;
    color:#ffffff;
    text-decoration: none;
    }
    .cv-btn:hover{
    background-color: #0099ff;
      transition: all ease 0.5s;
      color: #ffffff;
    }
@media (max-width : 1000px) {
  .name {
    width: 65%;
    margin: auto;
    
  }
  .name span{
    color: #000000;
  }
  .name h1{
    font-family:'Montserrat';
    font-size: 40px;
    margin:0px;
    letter-spacing: 2px;
    color:#00b7ff;
    }
}
@media (max-width : 800px) {
  .name {
    width: 80%;
    margin: auto;
    
  }
}
